@model PlaygroundReservations.Models.ChangePasswordModel

@{
    ViewBag.Title = "Смяна на парола";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Използвайте формата, за да смените паролата си.</h2>
</hgroup>

<p class="message-info">
    Новата парола трябва да е поне @Membership.MinRequiredPasswordLength символа.
</p>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Смяната на парола не беше успешна. Моля, поправете грешките и опитайте отново.")

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Смени парола" />
    </fieldset>
}
