@model IEnumerable<PlaygroundReservations.Models.CustomerProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Ново", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Email
        </th>
        <th>
            Name
        </th>
        <th>
            Notes
        </th>
        <th>
            Phone
        </th>
        <th>
            Reservations
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("редактирай", "Edit", new { id=item.CustomerProfileId }) |
            @Html.ActionLink("детайли", "Details", new { id=item.CustomerProfileId }) |
            @Html.ActionLink("изтрий", "Delete", new { id=item.CustomerProfileId })
        </td>
        <td>
			@item.Email
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.Notes
        </td>
        <td>
			@item.Phone
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Reservations).ToString()
        </td>
    </tr>
}

</table>


