@model PlaygroundReservations.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Reservation</legend>

    <div class="display-label">Playground</div>
    <div class="display-field">@(Model.Playground == null ? "None" : Model.Playground.Name)</div>

    <div class="display-label">ResrvationDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ResrvationDate)</div>

    <div class="display-label">Hour</div>
    <div class="display-field">@Model.Hour</div>

    <div class="display-label">CustomerEmail</div>
    <div class="display-field">@Model.CustomerEmail</div>

    <div class="display-label">CustomerName</div>
    <div class="display-field">@Model.CustomerName</div>

    <div class="display-label">CustomerPhone</div>
    <div class="display-field">@Model.CustomerPhone</div>

    <div class="display-label">Created</div>
    <div class="display-field">@String.Format("{0:g}", Model.Created)</div>

    <div class="display-label">IsApprovedByOwner</div>
    <div class="display-field">@Model.IsApprovedByOwner</div>

    <div class="display-label">ReservationTypeId</div>
    <div class="display-field">@Model.ReservationTypeId</div>

    <div class="display-label">ReservationType</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.ReservationType).ToString()</div>

    <div class="display-label">PaymentTypeId</div>
    <div class="display-field">@Model.PaymentTypeId</div>

    <div class="display-label">PaymentType</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.PaymentType).ToString()</div>

    <div class="display-label">RequestStatusId</div>
    <div class="display-field">@Model.RequestStatusId</div>

    <div class="display-label">RequestStatus</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.RequestStatus).ToString()</div>

    <div class="display-label">ApprovalStatusId</div>
    <div class="display-field">@Model.ApprovalStatusId</div>

    <div class="display-label">ApprovalStatus</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.ApprovalStatus).ToString()</div>

    <div class="display-label">ReservedBy</div>
    <div class="display-field">@(Model.ReservedBy == null ? "None" : Model.ReservedBy.Name)</div>
</fieldset>
<p>
    @Html.ActionLink("редактирай", "edit", new { id = Model.ReservationId }, new { @class = "edit-button" }) |
    @Html.ActionLink("към списък", "Index", null, new { @class = "back-button" })
</p>


